/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

body {
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: max-content 4fr;
    grid-template-areas: 
        'sidebar header'
        'sidebar main-content';
}

/* Google Material Icons CSS */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

.material-symbols-outlined.big {
  font-size: 2.5rem;
}

.with-icon {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    column-gap: 1rem;
}

.with-icon.big {
    column-gap: 0.5rem;
}



/* Header CSS */
.header {
    grid-area: header;
    padding: 1rem 2.5rem 1rem 2.5rem;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 1.5rem;
    box-shadow: 0 10px 0.5rem black;
}

.header-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header-nav a {
    text-decoration: none;
    height: 1.5rem;
}

.header-nav a:visited {
    color: black;
}

.search {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 1rem;
}

#searchbar {
    background-color: #e3e8f1;
    height: 2rem;
    width: 36rem;
    border-radius: 1rem;
}

.user-tab {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    gap: 2rem;
    margin-left: auto;
    margin-right: 1.5rem;
}

.user-tab a {
    margin-left: 1.5rem;
}

.user-tab p {
    font-weight: 700;
}

.header-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header-info section {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 1rem;
    align-items: center;
}

.user-info p {
    font-weight: 700;
}

.header-buttons {
    background-color: #1892d5;
    width: 6rem;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    text-align: center;
}


/* Sidebar CSS */
.sidebar {
    background-color: #1892d5;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    row-gap: 2rem;
    padding: 1.5rem;
}

.sidebar li {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.sidebar > * {
    color: white;
    font-weight: bold;
}



/* Navigation links CSS*/
.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links li a {
    height: 1.5rem;
    text-decoration: none;
}

.nav-links li a:visited {
    color: white;
}

.nav-links.menu {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-content: center;
    justify-items: center;
    gap: 2rem;
    margin-left: auto;
}

.nav-links.menu li a {
    font-weight: 700;
}


/* Main Content CSS */
.main-content {
    background-color: #e3e8f1;
    grid-area: main-content;
}